<nav class="navbar navbar-dark navbar-expand-lg" style="background-color: #195592;">
    <a class="navbar-brand" href="#"><strong>Plant Store</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" >
        <a class="nav-link active" href="">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="">Products</a>
        <a class="nav-link" href="">Cart</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">About Us</a>
      </div>
    </div>
  </nav>